html {
    
    font-family: 'Noto Sans JP',sans-serif;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.pop{
    font-family: "Poppins", sans-serif;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
    
.container{
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header{
    padding: 27px 0;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.logo span{
    color: #80ba04;
}
.logo {
    text-decoration: none;
    color: #000;
}

.header_menu li {
    margin-left: 40px;
    list-style: none;
}

.header_menu li a {
    transition: .3s;
    text-decoration: none;
}
.header_menu li a {
    color: #000000;
    font-size: 20px;
}

.header_menu li a:hover {
    color:#80ba4a;
    transition: .3s;
}

/* メイン */
#main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "hero" "profile" "skill" "contact";
    height: 700vh;
}

#hero {
    background-image: url(image/背景画像.jpg);
    background-position: center;
    background-size: cover;
    height:540px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    overflow: hidden;
    grid-area: hero;
}
#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}
.hero_inner{
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.hero_inner h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 16px;
}
.hero_inner h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30;
}


/* Profile */

#profile {
    margin-bottom: 120px;
    grid-area: profile;
}

#profile h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 60px;
} 

.title {
    font-size: 36px;
    font-weight: 700;
    color: #80ba4a;
    margin-bottom: 60px;
}
.column-2 {
    width: 48%;
}

.keireki {
    position: absolute;
    right: 40%;
}

.text {
    transform: translateX(70px); 
    font-size: large;
    line-height: 5;
    margin-top: 20px;
    position: absolute;
    right: 0;
}

.text1 {
    font-size: 24px;
    font-weight: 500;
    transform: translateX(40px);
    transform: translateY(20px);
    position: absolute;
    top: 85%;
    left: 0;
}

.text1 .span{
    font-size: 24px;
}

.concept-img{
    background-image: url(image/keei.jpg);
    background-position: center;
    background-size: cover;
    height:400px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    transform: translateY(10%);
}



.heading {
    font-family: 'Dancing Script',cursive;
    font-size: 200px;
    font-weight: 700;
    color: #80ba4a;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
}


 /* skill */

 #skill{
    grid-area:skill;
    margin-bottom: 120px;
 }
 #skill h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 60px;
} 


.skill_soft p {
    font-size: large;
    font-weight: 500;
}


.column-55 {
    max-width: 100%;
    width: 60%;
    margin-left: 0px;
    transform: translateX(10%);
}

.skill_soft p{
    margin-bottom: 50px;
}

.column-60{
    width: 55%;
}
.column-40{
    width: 40%;
}
#skill img{
    border-radius: 20px;
}
#skill h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-left: 40px;
}


.text2{
    line-height: 2;
    margin-left: 10px;
}

.skill_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

.skill_grid {
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-areas:"bed" "do-natu";
    height: 200vh;
}

.bed {
    grid-area: bed;
    margin-top: 150px;
}

.do-natu {
    grid-area: do-natu;
}